.article > pre{
    background-color: var(--pageBG);
    padding: 10px;
    border-radius: 10px;
}

.article > table{
    border: 1px solid var(--tableBorderColor);
    border-radius: 5px;
}

.article > table > thead,
 .article > table > tfoot{
    background-color: var(--theadBGColor);
    
}

.article > table > thead > tr,
 .article > table > tfoot > tr{
    
 }

 .article > table > thead > tr > th,
 .article > table > tfoot > tr > th{
    border-radius: 5px;
 }

 .article > blockquote{
    padding-left: 10px;
    border-left: 2px solid var(--hrColor);
    margin-left: 10px;
 }

 .article > p > img{
    width: 100%;
 }