{% extends "blog/base.html" %}
{% load static %}


{% block header %}
<header class="container header">
    <div class="logo">
        <img src="{% static 'blog/images/logo.svg' %}" alt="1024_YottaByte">
        <span>1024_YottaByte's site</span>
    </div>
    <div class="main-about">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sequi, molestiae culpa sapiente
        doloribus iste obcaecati animi reiciendis esse atque ipsum earum aperiam quam est sit quo hic quia nisi?
    </div>
</header>
{% endblock header %}